@font-face {
  font-family: "Branda";
  src: url("/assets/fonts/Branda.woff2") format("woff2"),
    url("/assets/fonts/Branda.woff") format("woff");
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    185deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 62, 62, 1) 0%,
    rgba(29, 175, 253, 0.80015756302521) 100%,
    rgba(251, 251, 251, 1) 100%
  );
  /* background-color: rgb(174, 221, 182); */
  font-family: "branda";
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

button {
  width: 10rem;
  height: 10rem;
  margin: 10px;
  border: solid 3px;
  border-radius: 3rem;
  outline: none;
  background-color: rgb(213, 231, 204);
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 2px black;
}

h1 {
  text-align: center;
  font-size: 72px;
}

h2 {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
  }
  h1 img {
    height: 50px;
    width: 50px;
  }

  button {
    height: 6rem;
  }
}
